/* To make sure the price and capacity section don't block the search button 
when the browser width is smaller than 768px */
@media (max-width: 768px) {
    #intro .row-center:not(#price-capacity-section .row-center) {
        display: inline-block !important;
        text-align: center;
    }

    #how-to-use .row-center,
    #popular-spaces .row-center,
    #price-capacity-section {
        flex-flow: column wrap !important;
    }

    .dropdown-custom, #more-options, #search-icon {
        margin: 5px auto;
    }
    .events-home, #search-home {
        border-radius: 0 !important;
    }
    #price-capacity-section {
        margin-top: 160px !important;
    }
}

.row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.intro-container {
    padding-bottom: 20px;
    margin-top: 100px;
}

.background-img {
    z-index: -1;
    background-image: url(../assets/background_img.png);
    opacity: 1;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.background-img-gradient {
    z-index: -1;
    background-image: linear-gradient(to bottom, black, rgb(85, 84, 84));
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-title {
    text-align: center;
    margin: 50px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: white;
}

#main-search-bar {
    height: 42px;
}

.dropdown-custom, #more-options {
    border-right: 0.5px solid black;
}

.search-bar {
    width: 250px;
    height: 100%;
    font-family: Georgia, Garamond, serif;
    font-size: medium;
    border: none;
    outline: none;
    background-color: #eae7dc;
    padding-left: 10px;
}

.form-center, .column-center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#price-capacity-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
}

#price-section, #capacity-section {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

#capacity-section {
    margin: 5px 10px 5px 8px;
    padding: 5px;
}

#price-section {
    margin: 5px 10px;
    padding: 5px 15px 5px 5px;
    border-right: 2px solid #8e8d8a;
}

#price-capacity-section p, span {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#price-clear-btn, #capacity-clear-btn {
    margin-top: 10px;
    border-radius: 8px;
    border-width: 1px;
    border-color: #8e8d8a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 5px;
    color: white;
    background-color: #8e8d8a;
}

#price-clear-btn:hover,
#capacity-clear-btn:hover {
    color: #8e8d8a;
    background-color: white;
}

#price-capacity-section input[type=number] {
    border-width: 1px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 5px 7px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
}

#min-price, #max-price, #capacity {
    line-height: normal;
}

#min-price-minus, #max-price-minus, #capacity-minus {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.add-btn, .minus-btn {
    border-width: 1px;
    padding: 6px 7px;
    margin: 5px 0;
    color: white;
    background-color: #8e8d8a;
}

.add-btn:hover, .minus-btn:hover {
    color: #8e8d8a;
    background-color: white;
}

.dropdown-custom, #search-icon, #more-options {
    height: 100%;
}

#more-options {
    width: 70px;
    background-color: white;
}

#price-capacity-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#price-capacity-btn:hover {
    cursor: pointer;
}

#more-options .fa-plus {
    color: #8e8d8a;
    margin: auto;
}

#more-options #price-capacity-btn:hover .fa-plus {
    color: #bebdbb;
}

#search-home {
    font-family: Georgia, Garamond, serif;
    font-size: medium;
    font-weight: bold;
    width: 200px;
    height: 100%;
    background-color: #8e8d8a;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.location-home:hover,
.events-home:hover {
    cursor: pointer;
}

#search-home:hover {
    cursor: pointer;
    background-color: white;
    color: #8e8d8a;
}

#search-icon .fa-search {
    color: white;
    margin: auto 20px auto auto;
}

#search-icon #search-home:hover .fa-search {
    color: #8e8d8a;
}

.background-plain-color {
    background-image: none;
    background-color: #eae7dc;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.sub-title {
    text-align: center;
    margin: 0px auto 50px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 35px;
    color: #373737;
}

#how-to-use {
    padding-top: 110px;
}

.how-to-use-info {
    padding: 0 10px;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.icon-img {
    margin-bottom: 20px;
    color: #373737;
}

.text-box {
    background-color: #8e8d8a;
    border-radius: 15px;
}

.how-to-use-info h6 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: white;
    margin: 10px 0;
    padding: 0 15px;
}

.how-to-use-info > p {
    width: 200px;
    word-wrap: normal;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

#popular-spaces {
    margin-top: 45px;
    padding-bottom: 50px;    
}

.each-popular-space {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin: 20px 20px;
}

.space-imgs {
    position: relative;
    width: 300px;
    height: 200px;
}

.each-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: none;
    cursor: pointer;
}

.space-imgs > .space-btn-right {
    position: absolute;
    top: 40%;
    right: 0;
}

.space-imgs > .space-btn-left {
    position: absolute;
    top: 40%;
    left: 0;
}

.fa-angle-right, .fa-angle-left {
    border: none;
    background-color: transparent;
    color: white;
}

.space-btn-left:hover,
.space-btn-right:hover {
    cursor: pointer;
}

.space-info {
    text-align: left;
    margin-top: 10px;
}

.space-name {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#popular-spaces .fa-map-marker-alt {
    margin-right: 10px;
    color: #8e8d8a;
}

.space-location {
    font-family: chalkduster, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.space-price,
#space-price-1,
#space-price-2,
#space-price-3 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 20px;
}

.per-day-word {
    opacity: 0.65;
    font-size: 15px;
}