body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*form css*/
.title-form{
text-align: center;
  margin: 20px 0px 15px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  color: white;
}

.form_container{
  width:45%;
  background-color:#383a3db0;
  margin:auto;
  padding:5px 10px 1px 10px;
 
}

.sign_form{
  width:60%;
  margin:auto;

}

form label{
  color:#fff;
  width:200px;
  font-size:18px;
}



.help-block{
  font-size:13px;
  color:#ed6c6c;
}

.form-btn{
  text-align:center;
}


/*Strong password css*/
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  color: #fff;
  position: relative;
  margin-top: 10px;
}



#message p {
  padding-left:40px;
  font-size: 14px;
}

#message h4{
  font-size:15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #97e797;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: #fff;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2613";
}


/*Welcome name drop down*/
.dropbtn_welcome {
  background-color: transparent;
  color: white;
  border: none;
  padding: 16px 0px;
  font-size: 16px;
  border-bottom: 1px solid ;
  cursor: pointer;
  
  
}

.dropbtn_welcome:hover, .dropbtn_welcome:focus {
  background-color: transparent;
}

.dropdown_welcome {
  margin-left:auto;
  padding-right:20px;
}

.dropdown-content-welcome {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:10px;
  margin-top:10px;

}

.dropdown-content-welcome a {
  color: black;
  text-decoration: none;
  display: block;
  border-bottom:1px solid lightgrey;
  padding:10px;
}



.dropdown_welcome a:hover {
  background-color: #ddd;
  color:black;
}

.show {display: block;}