.search-results-main {
    display: flex;
}

.search-filter-menu {
    width: 20%;
    display: block;
}


.search-result-container {
    flex: 1;
    display: grid;
    grid: auto / auto auto auto;
    gap: 20px;
}

.row-center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}