
.search-results-wrapper {
    display: block;

    
}

.search-filter-menu {
    float: left;
    width: 20%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
    
}


.search-result-container {
    display: flex;
    flex-flow:  row wrap;
    /*justify-content: space-around;*/
    padding: 10px;
}

.space-box {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding:  10px;
}

.row-center {
    display: block;
}

.filter-type {
    padding: 5px;
}

.filter-body {
    padding: 5px;
}

.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* Space gallery stuff */
.space-image {
    position: relative;
    width: 300px;
    height: 200px;
}

.each-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: none;
    cursor: pointer;
}

.space-image > .space-btn-right {
    position: absolute;
    top: 40%;
    right: 0;
}

.space-image > .space-btn-left {
    position: absolute;
    top: 40%;
    left: 0;
}

.fa-angle-right, .fa-angle-left {
    border: none;
    background-color: transparent;
    color: white;
}

.space-btn-left:hover,
.space-btn-right:hover {
    cursor: pointer;
}