
.search-results-wrapper {
    display: block;

    
}

.search-filter-menu {
    float: left;
    height: 700px;
    width: 20%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: sticky;
    padding: 10px;
    
}

.search-results-area {
    display: flex;
    flex-flow: column wrap;
}


#search-result-container {
    list-style-type: none;
    display: flex;
    flex-flow:  row wrap;
    justify-content: flex-start;
    padding: 10px;
}

.space-box {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding:  10px;
}

.row-center {
    display: block;
}

.filter-type {
    padding: 5px;
}

.filter-body {
    padding: 5px;
}

.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* Space gallery stuff */
.space-image {
    position: relative;
    width: 300px;
    height: 200px;
}

.each-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: none;
    cursor: pointer;
}