@media (min-width: 800px) {
    #space-form-custom {
        width: 50%;
    }
}

#navbar-section {
    background-color:#373737;
}

#page-title {
    margin-top: 90px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#space-form-custom {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#space-event-section .input-group {
    margin-bottom: 5px;
}

#space-slot-section .table {
    width: 50%;
}

#image-upload-section {
    margin-top: 10px;
    margin-left: 0px;
}

.row-custom {
    display: flex;
    flex-flow: row wrap;
}

.upload-label-custom {
    width: 120px;
}

.upload-input-custom {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.image-preview {
    width: 120px;
    height: 120px;
    background-position: center center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}

.image-preview img {
    width: 100%;
    height: 100%;
}

.img-up {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 15px;
    margin-left: 5px;
    position: relative;
}

.del {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.img-add {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
}