@media (max-width: 768px) {
    .modal-body .space-btn-left,
    .modal-body .space-btn-right {
        top: 20% !important;
    }

    #all-image-samples img {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-device-width: 768px) {
    .modal-body .space-btn-left,
    .modal-body .space-btn-right {
        top: 15% !important;
    }

    #all-image-samples img {
        width: 100% !important;
        height: auto !important;
    }

    #footer {
        bottom: 0;
    }
}

#space-img-section {
    margin-top: 86px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
}

.space-btn-left, .space-btn-right {
    position: absolute;
    border: none;
    top: 40%;
}

.space-btn-left {
    left: 30px;
}

.space-btn-right {
    right: 30px;
}

.left-right-space-btn .space-btn-left,
.left-right-space-btn .space-btn-right {
    color: #373737;
    background-color: white;
}

.modal-body .space-btn-left,
.modal-body .space-btn-right {
    color: white;
    background-color: transparent;
}

.sub-img-section {
    width: 25%;
    height: auto;
}

#images:hover {
    cursor: zoom-in;
}

#image-preview .modal-content {
    background-color: #373737 !important;
}

#image-preview .modal-header {
    border: none !important;
}

#image-preview .modal-body {
    display: flex;
}

.modal-header .btn-close {
    margin: 0px !important;
}

.rent-btn {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: 1px solid #8e8d8a;
    border-radius: 10px;
    background-color: #8e8d8a;
    color: white;
    cursor: pointer;
}

.rent-btn:hover {
    background-color: white;
    color: #8e8d8a;
}

#image-preview .rent-btn {
    width: 100px;
    height: 40px;
    font-size: medium;
}

#rent-section .rent-btn {
    width: 160px;
    height: 80px;
    font-size: x-large;
    margin-right: 15px;
}

#all-image-samples img {
    width: auto;
    height: 100%;
}

.initial-visible {
    display: block;
}

.initial-invisible {
    display: none;
}

#space-details-section {
    padding: 15px 25px;
}

#space-details-section h2,
#space-details-section p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#name {
    font-weight: bold;
}

#location-price-capacity-section {
    display: flex;
    flex-flow: row wrap;
}

.lpc-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.lpc-details p {
    margin-top: 10px;
    font-size: large;
}

.lpc-details .fa-heart {
    color: red;
    cursor: pointer;
}

.popup {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 49%;
    margin-left: -80px;
    opacity: 0.85;
    animation-name: popup-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes popup-animation {
    0%   {bottom:120%;}
    50%  {bottom:110%;}
    100% {bottom:120%;}
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#event-type {
    display: flex;
    flex-flow: row wrap;
}

#event-type p {
    margin-right: 15px;
    padding: 10px;
    border: 2px solid black;
}

#event-type-section p,
#review-section p,
#more-review-modal p,
#more-review-modal h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#review-section {
    margin-top: 20px;
}

#posted-review-section {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 1px solid;
    box-shadow: 5px 5px #d3d3d3;
}

.user-name {
    font-weight: bold;
}

.review-content {
    padding-left: 20px;
}

#rent-section {
    display: flex;
    padding: 15px;
}

.modal-header {
    border-bottom: none !important;
    padding-bottom: 0px !important;
}

.sub-head-form {
    border-bottom: solid 1px #eaebec;
    color: #808184;
    font-size: 16px;
    margin-bottom: 11px;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

input.invalid, select.invalid {
    border: 1px solid red;
}

.date-container {
    display: flex;
    width: 100%;
}

.date-column-1 {
    flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
    flex-basis: 70%; /* sets initial width to 70%*/
}

@media only screen and (max-width: 900px) {
    .date-container {
        flex-direction: column;
    }
}

.modalPrvBtn {
    color: #262629;
    border: solid 0.8px #000;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.modalNextBtn {
    color: #262629;
    border: solid 1px #ffce4a;
    background-color: #ffce4a;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.modalPrvBtn:hover {
    background-color: #ffce4a;
}

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0%{
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #18b201;
    }
    100%{
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #0456c8;
    }
}
  
.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
}
  
#loadingText{
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}
  
@keyframes text {
    50%{
      color: black;
    }
}