@media (min-width: 800px) {
    #space-form-custom {
        width: 50%;
    }
}

#navbar-section {
    background-color:#373737;
}

#page-title {
    margin-top: 90px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.paymentDescription {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

#space-form-custom {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
